@import url(../../assets/css/fonts.css);
@import url(../../assets/css/variables.css);

.presentation-container {
	width: 80%;
	margin-left: 10%;
	padding-top: 6em;
	text-align: center;
	font-family: 'Player2';
}

.presentation-title {
	display: inline;
	font-size: 1.2em;
	line-height: 1.25em;
	border-right: 3px solid var(--mario-skyblue-font);
	animation: blink 0.5s infinite step-end alternate;
	color: var(--mario-skyblue-font);
}

/* Animations */
@keyframes blink {
	50% {
		border-color: transparent;
	}
}

/* Responsiveness */
/* Hardcoded heights to avoid layout shifting while typing the title */
@media (max-width: 320px) {
	.presentation-container {
		min-height: 100px;
	}
}

@media (min-width: 321px) and (max-width: 413px) {
	.presentation-container {
		min-height: 75px;
	}
}

@media (min-width: 414px) and (max-width: 848px) {
	.presentation-container {
		min-height: 50px;
	}
}

@media (min-width: 849px) {
	.presentation-container {
		min-height: 25px;
	}
}