---
interface Props {
	bricksColor?: string;
	bordersColor?: string;
	class?: string;
}

const {
	class: className = "w-full h-full",
	bordersColor = "themed-block-borders-bg",
	bricksColor = "themed-block-main-bg",
} = Astro.props;
---

<div class=`${className} ${bordersColor}`>
	<span class=`block w-full h-full ${bricksColor}`></span>
</div>

<style>
	span {
		mask: url(/src/assets/svgs/mario-breakable-block-shape-blocks.svg)
			repeat 0% 50%;
	}
</style>
