---
interface Props {
	bricksColor?: string;
	bordersColor?: string;
	className?: string;
}

const {
	className = "w-full h-full",
	bordersColor = "bg-mario-ground&block-overworld-borders theme-underworld:bg-mario-ground&block-underworld-borders theme-underwater:bg-mario-ground&block-underwater-borders theme-castle:bg-mario-ground&block-castle-borders",
	bricksColor = "bg-mario-ground&block-overworld-main theme-underworld:bg-mario-ground&block-underworld-main theme-underwater:bg-mario-ground&block-underwater-main theme-castle:bg-mario-ground&block-castle-main",
} = Astro.props;
---

<div class=`${className} ${bordersColor}`>
	<span class=`block w-full h-full ${bricksColor}`></span>
</div>

<style>
	span {
		mask: url(/src/assets/svgs/mario-breakable-block-shape-blocks.svg)
			repeat 0% 50%;
	}
</style>
