.project {
	max-width: 100%;
	max-height: 700px;
	background-color: var(--mario-alt-block-color);
	color: var(--mario-alt-block-font-color);
	padding: 20px;
	box-shadow: 2px 2px 3px var(--shadow-color);
	margin: 1em 0;
}

.project.hit {
	background-color: var(--mario-block-color);
}

.project-container {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	height: 100%;
	gap: 1em;
}

.project-container.hit {
	opacity: 0;
}

.project-title {
	font-family: "Player2";
	font-size: 1.2em;
}

.project-description {
	font-family: "Sk-Regular";
	font-size: 0.8em;
	line-height: 1.3;
	width: 80%;
	max-width: 60ch;
	min-height: 90px;
}

.project-img-tech-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 2em;
}

.project-img {
	max-width: 100%;
	border: solid 1px black;
	border-radius: 10px;
}

.project-technologies {
	font-size: 0.75em;
	font-family: "Arcade";
	width: 100%;
	display: flex;
	gap: 5px;
	flex-wrap: wrap;
	justify-content: center;
}

.project-tech {
	width: fit-content;
	height: fit-content;
	text-wrap: nowrap;
	padding: 2px 12px;
	margin: 5px 0;
	background-color: var(--mario-block-color);
	color: var(--mario-block-font-color);
}

.project-btns-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.repo-btn,
.demo-btn {
	font-family: "Arcade";
	padding: 5px 15px;
	color: white;
	background-color: var(--mario-block-color);
	border-radius: 2px;
	box-shadow: 2px 2px 1px black;
}

@media (min-width: 768px) {
	.project {
		margin: 1em 0 2em;
	}

	.project-img {
		max-width: 70%;
	}

	.project-img-tech-container {
		width: 80%;
		flex-direction: row;
	}

	.project-technologies {
		flex-direction: column;
		max-height: 15em;
	}
}

@media (min-width: 1024px) {
	.project-floor {
		height: 32px;
	}
}