.study-container {
	box-sizing: border-box;
	position: relative;
	width: 100%;
	display: flex;
	align-items: flex-start;
	margin-top: 1em;
	gap: 1em;
	padding-right: 16px;
}

.study-media-container {
	position: relative;
	width: 5em;
	aspect-ratio: 1 / 1;
	max-width: 15%;
	background: url(../../assets/svgs/mario-cloud-floor-sprite.svg) no-repeat;
	background-size: cover;
	background-position: center;
}

.study-img {
	position: absolute;
	width: 64%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.study-text-container {
	font-family: "Player2";
	font-size: 0.55em;
	color: var(--mario-skyblue-font);
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.study-flag {
	aspect-ratio: 1 / 1;
	width: 16px;
	position: absolute;
	top: 0;
	right: 8px;
}

@media (min-width: 768px) {
	.study-text-container {
		font-size: 0.8em;
	}
}

@media (min-width: 1024px) {
	.study-flag {
		width: 32px;
		right: 16px;
	}
}