.title {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "SuperMarioBros";
	text-align: center;
}

.letter {
	margin-top: 10px;
	font-size: 2em;
}

.mario-blue {
	color: var(--mario-blue);
}

.mario-yellow {
	color: var(--mario-yellow);
}

.mario-red {
	color: var(--mario-red);
}

.mario-green {
	color: var(--mario-green);
}

.bg-cloud {
	aspect-ratio: 1000 / 426;
	width: 100%;
	background-image: url(../../assets/imgs/mario-triple-cloud-sprite.png);
	background-size: cover;
	background-position: center;
}

.fsz-md {
	font-size: 1.6em;
}

@media (min-width: 768px) {
	.bg-cloud {
		max-width: 17.5em;
	}

	.letter {
		font-size: 2em;
	}

	.fsz-md {
		font-size: 1.8em;
	}
}

@media (min-width: 768px) {
	.bg-cloud {
		max-width: 22em;
	}

	.letter {
		font-size: 2.6em;
	}

	.fsz-md {
		font-size: 2.2em;
	}
}