:root {
	--mario-blue: #009cda;
	--mario-red: #e71e07;
	--mario-yellow: #fcd000;
	--mario-green: #42b132;
	--mario-skyblue: #a1adff;
	--mario-block-color: #c27002;
	--mario-block-font-color: #fac8ba;
	--mario-alt-block-color: #fab930;
	--mario-alt-block-font-color: #994a06;
}