:root {
	--mario-blue: #049cd8;
	--mario-red: #e52521;
	--mario-yellow: #fbd000;
	--mario-green: #43b047;
	--mario-bg-color: #6185f8;
	--mario-bg-font-color: #fafafa;
	--mario-block-color: #9c4a00;
	--mario-block-font-color: #ffcec5;
	--mario-alt-block-color: #e69c21;
	--mario-alt-block-font-color: #9c4a00;
	--mario-coin-yellow: #fea144;
	--shadow-color: #000000;
	--mario-breakable-block: url(../svgs/mario-breakable-block-sprite.svg);
	--mario-floor: url(../svgs/mario-floor-sprite.svg);
	--mario-cursor: url(../imgs/mario-cursor.png);
	--mario-tree: url(../svgs/mario-tree-sprite.svg);
}

[data-theme='dark'] {
	--mario-bg-color: #000000;
	--mario-bg-font-color: #fafafa;
	--mario-alt-block-color: #007b8c;
	--mario-alt-block-font-color: #b5efef;
	--mario-block-color: #63adff;
	--mario-block-font-color: #ffffff;
	--mario-coin-yellow: #007b8c;
	--mario-breakable-block: url(../svgs/mario-breakable-block-underground-sprite.svg);
	--mario-floor: url(../svgs/mario-floor-underground-sprite.svg);
	--mario-cursor: url(../imgs/mario-cursor-underground.png);
	--mario-tree: url(../svgs/mario-mushroom-sprite.svg);
}