---
import Typewriter from "@components/Typewriter.astro";
import SingleCloud from "@components/sprites/SingleCloud.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout
	title="Agustin Pacheco | Portfolio."
	description="My web portfolio super mario bros themed."
>
	<main class="w-full flex flex-col">
		<section class="w-full min-h-16 block my-12 text-center">
			<Typewriter
				text="Hi! I'm Agustin, a full stack developer specialized in frontend."
				speed={70}
				className="text-xl font-p2 max-w-prose min-h-10 mx-auto"
			/>
		</section>
		<article
			class="relative aspect-[330/240] w-32 flex justify-center items-center pl-1 pt-1"
		>
			<SingleCloud
				class="w-32 absolute top-0 left-0"
				borderColor="fill-mario-cloud&water-overworld-borders"
				cloudColor="fill-mario-cloud&water-overworld-light"
				detailsColor="fill-mario-cloud&water-overworld-main"
			/>
			<a
				class="aspect-square w-10 z-10"
				href="https://www.linkedin.com/in/agust%C3%ADn-pacheco-estudianteit/"
				target="_blank"
				rel="noopener noreferer"
				title="Linkedin"
			>
				<img
					class="w-full h-full"
					src="/portfolio/svgs/linkedin.svg"
					alt="Linkedin Icon"
				/>
			</a>
		</article>

		<article
			class="relative aspect-[330/240] w-32 flex justify-center items-center pl-1 pt-1"
		>
			<SingleCloud
				class="w-32 absolute top-0 left-0"
				borderColor="fill-mario-cloud&water-overworld-borders"
				cloudColor="fill-mario-cloud&water-overworld-light"
				detailsColor="fill-mario-cloud&water-overworld-main"
			/>
			<a
				class="aspect-square w-10 z-10"
				href="https://www.linkedin.com/in/agust%C3%ADn-pacheco-estudianteit/"
				target="_blank"
				rel="noopener noreferer"
				title="Linkedin"
			>
				<img
					class="w-full h-full"
					src="/portfolio/svgs/github.svg"
					alt="Linkedin Icon"
				/>
			</a>
		</article>

		<article
			class="relative aspect-[330/240] w-32 flex justify-center items-center pl-1 pt-1"
		>
			<SingleCloud
				class="w-32 absolute top-0 left-0"
				borderColor="fill-mario-cloud&water-overworld-borders"
				cloudColor="fill-mario-cloud&water-overworld-light"
				detailsColor="fill-mario-cloud&water-overworld-main"
			/>
			<a
				class="aspect-square w-10 z-10"
				href="https://www.linkedin.com/in/agust%C3%ADn-pacheco-estudianteit/"
				target="_blank"
				rel="noopener noreferer"
				title="Linkedin"
			>
				<img
					class="w-full h-full"
					src="/portfolio/svgs/resume.svg"
					alt="Linkedin Icon"
				/>
			</a>
		</article>
		<p>hello</p>
	</main>
</Layout>
