---
import Typewriter from "@components/Typewriter.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout
	title="Agustin Pacheco | Portfolio."
	description="My web portfolio super mario bros themed."
>
	<main class="w-full flex flex-col">
		<section class="w-full min-h-16 block my-12 text-center">
			<Typewriter
				text="Hi! I'm Agustin, a full stack developer specialized in frontend."
				speed={70}
				className="text-xl font-p2 max-w-prose min-h-10 mx-auto"
			/>
		</section>
		<p>hello</p>
	</main>
</Layout>
