---
import SingleCloudItem from "@components/SingleCloudItem.astro";
import Typewriter from "@components/Typewriter.astro";
import SingleCloud from "@components/sprites/SingleCloud.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout
	title="Agustin Pacheco | Portfolio."
	description="My web portfolio super mario bros themed."
>
	<main class="w-full flex flex-col">
		<section class="w-full min-h-16 block my-12 text-center">
			<Typewriter
				text="Hi! I'm Agustin, a full stack developer specialized in frontend."
				speed={70}
				className="text-xl font-p2 max-w-prose min-h-10 mx-auto"
			/>
		</section>
		<section
			class="w-full flex justify-center items-center gap-2 sm:gap-10 mb-12"
		>
			<SingleCloudItem className="translate-y-4">
				<a
					class="aspect-square w-7 sm:w-10 z-10"
					href="https://www.linkedin.com/in/agust%C3%ADn-pacheco-estudianteit/"
					target="_blank"
					rel="noopener noreferer"
					title="Linkedin"
				>
					<img
						class="w-full h-full bg-white"
						src="/portfolio/svgs/linkedin.svg"
						alt="Linkedin Icon"
					/>
				</a>
			</SingleCloudItem>
			<SingleCloudItem className="-translate-y-2">
				<a
					class="aspect-square w-7 sm:w-10 z-10"
					href="https://github.com/apacha01/"
					target="_blank"
					rel="noopener noreferer"
					title="GitHub"
				>
					<img
						class="w-full h-full bg-white"
						src="/portfolio/svgs/github.svg"
						alt="GitHub Icon"
					/>
				</a>
			</SingleCloudItem>
			<SingleCloudItem className="translate-y-8">
				<a
					class="aspect-square w-7 sm:w-11 z-10"
					href="/portfolio/cvs/cv-en.pdf"
					target="_blank"
					rel="noopener noreferer"
					title="Resume/CV"
				>
					<img
						class="w-full h-full bg-white"
						src="/portfolio/svgs/resume.svg"
						alt="Resume/CV Icon"
					/>
				</a>
			</SingleCloudItem>
		</section>
		<p>hello</p>
	</main>
</Layout>
