---
import CloudTitle from "@components/CloudTitle.astro";
import SocialLinks from "@components/SocialLinks.astro";
import Typewriter from "@components/Typewriter.astro";
import TripleCloud from "@components/sprites/TripleCloud.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout
	title="Agustin Pacheco | Portfolio."
	description="My web portfolio super mario bros themed."
>
	<main class="w-full flex flex-col">
		<section class="w-full min-h-16 block my-12 text-center">
			<Typewriter
				text="Hi! I'm Agustin, a full stack developer specialized in frontend."
				speed={70}
				className="text-xl font-p2 max-w-prose min-h-10 mx-auto"
				headingLevel={1}
			/>
		</section>
		<SocialLinks
			items={[
				{
					aLink: "https://www.linkedin.com/in/agust%C3%ADn-pacheco-estudianteit/",
					aTitle: "Linkedin",
					iconLink: "/portfolio/svgs/linkedin.svg",
					iconAlt: "Linkedin Icon",
					cloudClass: "translate-y-4",
					iconClass: "bg-white",
				},
				{
					aLink: "https://github.com/apacha01/",
					aTitle: "GitHub",
					iconLink: "/portfolio/svgs/github.svg",
					iconAlt: "GitHub Icon",
					cloudClass: "-translate-y-2",
					iconClass: "bg-white",
				},
				{
					aLink: "/portfolio/cvs/cv-en.pdf",
					aTitle: "Resume/CV",
					iconLink: "/portfolio/svgs/resume.svg",
					iconAlt: "Resume/CV Icon",
					cloudClass: "translate-y-8",
					iconClass: "bg-white",
				},
			]}
		/>
		<CloudTitle title="Projects" />
		<p>hello</p>
	</main>
</Layout>
