.contact-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
	margin-left: 10%;
	padding-top: 5em;
}

.contact-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 1em;
	color: var(--mario-bg-font-color);
}

.contact-text {
	width: 90%;
	font-family: "Player2";
	font-size: 1.1em;
	line-height: 1.25;
}

.contact-links-container {
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 2em 3em 0;
	width: 90%;
}

.contact-link {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 0.5em;
	font-family: "Sk-Regular";
	color: var(--mario-bg-font-color);
}

.linkedin-icon {
	aspect-ratio: 1 / 1;
	width: 1.5em;
	background-color: var(--mario-bg-font-color);
}

.mail-icon {
	aspect-ratio: 1 / 1;
	width: 1.5em;
}

.mario-tree-floor {
	aspect-ratio: 1 / 1;
	width: 100%;
	background: var(--mario-tree) no-repeat 0 0;
	margin-top: 0.5em;
}


@media (min-width: 768px) {
	.contact-link {
		font-size: 1.5em;
	}
}