.toggler {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 5em;
	height: fit-content;
}

.toggle-container {
	display: flex;
	align-items: center;
	position: relative;
	width: 100%;
	height: 100%;
}

.toggle-label {
	display: flex;
	position: relative;
	width: 100%;
	height: 1.75em;
	cursor: pointer;
}

.label-shell {
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	transition: all 100ms ease-in-out;
	z-index: 10;
}

.checked {
	left: calc(100% - 2em);
}

.toggle-input {
	display: none;
}

.toggle-floor {
	width: 5em;
	height: 16px;
	background-image: var(--mario-breakable-block);
}

.icon {
	position: absolute;
	top: 0.4em;
	max-width: 1.1em;
	z-index: 5;
}

.left-icon {
	left: 0.4em;
}

.right-icon {
	right: 0.4em;
}


@media (min-width: 1024px) {
	.toggle-floor {
		height: 32px;
	}
}