.studies-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
	margin-left: 10%;
	padding-top: 5em;
}

.studies-container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	gap: 1em;
	margin-top: 1em;
}

.studies-floor {
	width: 100%;
	height: 32px;
	background-image: url(../../assets/imgs/mario-floor-sprite.png);
}

.mario-castle {
	/* Avoid layout shifting */
	aspect-ratio: 144 / 176;
	width: 70%;
}

.mario-flagpole {
	position: absolute;
	background-color: #8cd600;
	right: 7px;
	bottom: 0;
	height: 100%;
	width: 2px;
	z-index: -1;
}

.flagpole-top {
	aspect-ratio: 1 / 1;
	width: 8px;
	position: absolute;
	top: 0;
	right: -3px;
}

.flagpole-bottom {
	aspect-ratio: 1 / 1;
	width: 16px;
	position: absolute;
	bottom: 0;
	right: -7px;
}

@media (min-width: 768px) {
	.mario-castle {
		width: 50%;
	}
}