.skill-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

.skill {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: baseline;
	padding: 0 3px;
}

.skill-name {
	font-family: "Player2";
	font-size: 0.9em;
	color: var(--mario-bg-font-color);
}

.star {
	display: inline-block;
	aspect-ratio: 1 / 1;
	width: 1.25em;
	background: url(../../assets/svgs/mario-star-sprite.svg) no-repeat;
	background-size: contain;
	background-position: center;
	padding: 0 5px;
	opacity: 0.5;
}

.skill-floor {
	width: 100%;
	height: 16px;
	background-image: var(--mario-breakable-block);
}

.bright {
	opacity: 1;
}

@media (min-width: 768px) {
	.star {
		width: 2.5em;
	}

	.skill-name {
		font-size: 1.4em;
	}

	.skill-floor {
		height: 32px;
	}
}