---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
const { currentLocale } = Astro;
---

<!doctype html>
<html lang={currentLocale} class="theme">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/portfolio/favicon.svg" />
		<title>{title}</title>
	</head>
	<body
		class="w-full h-full text-mario-sky-font bg-mario-sky-overworld theme-underworld:bg-mario-sky-underworld theme-underwater:bg-mario-sky-underwater theme-castle:bg-mario-sky-castle"
	>
		<div
			class="max-w-[900px] min-h-screen w-full h-fit mx-auto px-8 lg:px-0 overflow-x-hidden"
		>
			<slot />
		</div>
	</body>
</html>

<style is:global>
	html {
		font-family:
			system-ui,
			-apple-system,
			BlinkMacSystemFont,
			"Segoe UI",
			Roboto,
			Oxygen,
			Ubuntu,
			Cantarell,
			"Open Sans",
			"Helvetica Neue",
			sans-serif;
		scroll-padding-top: 6rem;
		scroll-behavior: smooth;
	}

	@font-face {
		font-family: "SK-Regular";
		src: url(/portfolio/fonts/Silkscreen-Regular.ttf);
	}

	@font-face {
		font-family: "SuperMarioBros";
		src: url(/portfolio/fonts/Super-Mario-Bros.ttf);
	}

	@font-face {
		font-family: "Player2";
		src: url(/portfolio/fonts/PressStart2P.ttf);
	}

	@font-face {
		font-family: "Arcade";
		src: url(/portfolio/fonts/Arcade-Classic.ttf);
	}
</style>
